@import 'globals.css';

.home {
    max-height: 100vh;
}

.background{
    background: url(img/1612886489140.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    max-width: 100%;
    background-position: center top;
}

.barra{
    background-color: #47c076;
    width: 100%; 
    border-radius: 5px;
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menuli{
    margin: 0;
    text-align: center;
}

.menuli a {
  padding: 0.5rem;
}


.cuerpo{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-bet;
    max-width: 100%;
    border-radius: 5px;
    gap: 1rem;
}
.acerca{
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    border-color: #222426;
    border: 2px solid;
    border-radius: 5px;
    padding: 1rem; 
    background-color: #47c076;
}

.nombre {
  margin: 0;
}

.foto{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    flex-wrap: wrap;
    aspect-ratio: 1;
}




.contenedorTituloHome{
    font-family: arial black;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
.textoHome{
    text-align: center;
    color: #fff;
    padding-top: 80px;
    font-size: 2.8rem;
    margin-top: 0;
    margin-bottom: 40px;
    width: 100%;
    text-shadow: 3px 3px 10px #000;
    font-size: 1.6rem;
    flex-wrap: wrap;
}

.h1Home{
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    text-shadow: 3px 3px 10px #000;
    flex-wrap: wrap;
}
.pHome{
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    text-shadow: 3px 3px 10px #000;
    flex-wrap: wrap;
}

.pServ{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    font-size: 1.3rem;
    color: #fff;
    
    width: 75%;
    max-width: 80ch;
    margin: auto;
}

.aServ{
    text-align:justify;
    font-size: 1.3rem;
    color: #fff;
    text-shadow: 3px 3px 10px #000;
    flex-wrap: wrap;
    width: 75%;
    text-decoration: underline;
    
}

@media (max-width: 576px){
    .menuli{
        font-size: 0.8rem;
    }
    .foto{
        width: 100px;
        height: 100px;
    }

    .textoHome{
        font-size: 1.9rem;
        flex-wrap: wrap
    }

    .cuerpo {
      justify-content: space-between;
    }

    .acerca {
      min-width: 40%;
      max-width: 40%;
    }

    .nombre {
      font-size: 2rem;
    }

    .aServ{
        font-size: 0.9rem;
    }

    .pServ{
        font-size: 0.9rem;
    }

    .pHome{
        font-size: 1.2rem;
    }
}


@media (max-width: 992px){
    .menuli{
        font-size: 0.8rem;
    }
    .foto{
        max-width: 90%;
    }
    .cuerpo {
      justify-content: space-evenly;
    }
    .acerca {
      min-width: 40%;
      max-width: 40%;
    }

    .nombre {
      font-size: 1.5rem;
    }
    .aServ{
        font-size: 1rem;
    }
    .pServ{
        font-size: 1rem;
    }

    .pHome{
        font-size: 1.5rem;
    }
}